{% extends "base.html" %}
{% block title %}About me{% endblock %}
{% block  content %}
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">

                  <div style=float:right;>
                      <img src="static/assets/images/profile image.jpg" style="height:400px; width:300px; " alt="...">

                  </div>

                <div class="col-xs-12 col-md-6">
                  <h3>My name is Nafis Ishtiaque</h3>
                  <p>I am currently studying computer programming at George Brown college</p>
                  <p> I believe in the philosophy that <b><i>Learning is infinite, continuous process </i></b>.On my free time I browse through udemy,youtube to learn new skills and improve my current programming knowledge.
                      In the future I would like to be a full stack web developer. My favourite hobby is collecting and playing video games </p>
                  <p>
                <h3>Current Programming knowledge and skills</h3>

                    <style>
                       li {
                           margin-bottom: 10px;
                           margin-top: 10px;
                       }
                       img{
                           float: left;
                       }
                       .img-responsive{
                           height:75px;
                       }
                       p{
                           font-size:13px;
                       }
                    </style>
                  <ul>

                      <li> <b>Front End skills</b></li>
                      <i class="fab fa-html5" style="font-size:70px; color:red"></i>
                      <i class="fab fa-css3-alt" style="font-size:70px; color:blue"></i>
                      <i class="fab fa-js" style="font-size:70px; color:yellow"></i>
                      <i class="fab fa-bootstrap" style="font-size:70px; color:lightblue"></i>



                        <li> <b>Backend skills</b></li>
                      <i class="fas fa-database" style="font-size:70px; color:greenyellow"></i>
                      <i class="fab fa-php" style="font-size:70px; color:blue"></i>
                      <i class="fab fa-python" style="font-size:70px; color:darkblue"></i>
                      <i class="fab fa-java" style="font-size:70px; color:orange"></i>


                        <li> <b>Other skills</b></li>
                      <i> <img src="/static/assets/images/icons8-c-sharp-logo-75.png" class="img-responsive" alt="c#"></i>
                      <i> <img src="/static/assets/images/flask.png" class="img-responsive" alt="c#"></i>
                      <i class="fab fa-github" style="font-size:70px; color:black" style="display:inline"></i>
                  </ul>
                     <h3>My current goal for 2021 is to learn the following </h3>
                    <ul>
                        <li>React Native</li>
                        <li>Django</li>
                        <li> ASP.NET Core MVC</li>
                        <li>More Advance javascript concepts </li>
                    </ul>

                </div>

                <div class="col-xs-12 col-md-6">
                 <h4> <i>"Sic Parvis Magna-Greatness from Small Beginnings"- Uncharted 4: A Thief’s End</i></h4>
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>
{% endblock %}